html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  width: 300px;
  height: 100%;
  border-right: solid;
  top: 0px;
  left: 0px;
}

header {
  text-align: center;
  font-size: 2em;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

li {
  list-style-type: none;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;

  overflow-y: auto;
  overflow-x: hidden;
}

section {
  color: #4d4e53;
  margin: 15px;
  font-size: 1.2em;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  nav-link {
    background-color: lightblue;
  }
}
